/* custom.css */
/* Add your custom styles here */
.navbar {
    background-color: #007bff;
}

.navbar-brand {
    color: #000000;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.nav-link {
    color: #333;
}

.nav-link:hover {
    color: #007bff;
}




