/* Reset some default styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Form and Search Input Styles */
h2 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    text-align: center;
    margin: 20px;
}

#searchInput {
    padding: 12px;
    font-size: 18px;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 60%;
    transition: border-color 0.3s;
}

#searchInput:focus {
    border-color: #0056b3;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content Styles */
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

/* Close Button Styles */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.close:hover {
    color: #f00;
}

/* Form Input Styles */
input[type="text"] {
    width: 100%;
    padding: 14px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Button for Editing Posts */
button#editPostButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button#editPostButton:hover {
    background-color: #0056b3;
}
